body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    color: #707070;
}
.header_bg{
    background-image: url(image/donation9.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}
.common_format{
    text-align: center;
    width: 50%;
    margin: 0 25%;
}
.basic_margin{
    margin: 60px 0;
}
.header_formatting_div{
    padding: 100px 0;
    color: #d4ff6b;
}
.header_formatting_div h1{
    font-size: 50px;
    margin-bottom: 10px;
}
.header_formatting_div p{
    font-size: 18px;
    width: 60%;
    margin: 50px 20%;
}
.common_button{
    text-decoration: none;
    background-color: #7cd137;
    color: #ffffff;
    padding: 10px 30px;
    border-radius: 7px;
    font-weight: 700;
}
.second_formatting_div{
    color: #707070;
}
.second_formatting_div h1{
    font-size: 35px;
    color: #000000;
    font-weight: 700;
}
.second_formatting_div p{
    width: 80%;
    margin: 20px 10%;
}
.second_sec_paragraph{
    color: #707070;
    width: 50%;
    margin: 0 25%;
}
.second_formatt_p{
    display: flex;
    margin: 20px auto;
    width: 100%;
}
.second_formatt_p div{
    height: 100px;
    width: 100px;
    text-align: center;
    line-height: 66px;
    margin: 0 4%;
    background-color: #FAFAFA
}
.second_formatt_p p{
    font-weight: 700;
}
#hight_light{
    background-color: #FFEEEE;
    border: 1px solid #FF5959;
}
#amount{
    border: none;
    width: 100%;
    border-bottom: 2px solid gray;
    display: block;
    text-align: center;
    font-size: 18px;
    margin: 40px 0;
}
.secend_last_button{
    margin: 0 39%;
}
.third_formatting_div{
    color: #707070;
}
.third_formatting_div h1{
    font-size: 35px;
    color: #000000;
    font-weight: 700;
}
.third_formatting_div p{
    width: 80%;
    margin: 10px 10%;
}
.third_last_section{
    display: flex;
    width: 90%;
    margin: 0 5%;
    margin-top: 50px;
}
.third_last_section div{
    width: 30%;
    margin: 0 1%;
    padding: 30px 40px;
}
.third_last_section img{
    width: 60px;
    height: 60px;
}
.sec_01{
    background-color: #EDF5F6;
}
.sec_02{
    background-color: #FFEEEE;
}
.sec_03{
    background-color: #FFF4D6;
}
.common_area_fourth{
    background-color: #FF5959;
}
.fourth_section {
    width: 50%;
    margin: 0 25%;
    padding: 40px 0;
    text-align: center;
    color: #ffffff;
}
.fourth_section h1{
    font-size: 35px;
}
.fourth_section p{
    margin-bottom: 30px;
}
.fourth_formatting_div{
    color: #707070;
}
.fourth_formatting_div h1{
    font-size: 35px;
    color: #000000;
    font-weight: 700;
}
.fourth_formatting_div p{
    width: 80%;
    margin: 10px 10%;
}
.subsription_section{
    padding: 50px 0;
    background-color: #FFF4D6;
}
.subsription_section input{
    height: 33px;
    border: none;
}
#sub_email{
    width: 200px;
    margin-right: -5px;
    background-color: #D9D9D9;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    padding-left: 10px;
}
#sub_supcri{
    padding: 6px 12px;
    height: 35px;
    background-color: #FF5959;
    font-weight: 600;
    color: #ffffff;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}